{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="content-edit">
        <section class="info-section">
            <div class="container mt-5">

                <h3>Log In</h3>
                <hr/>

                <form method="POST" action="{% url 'login-user' %}">
                    {% csrf_token %}
                    <section class="all-fields">
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger small">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div class="text-danger mb-3">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                    </section>

                    <div class="my-3">
                        <button type="submit" class="btn btn-outline-primary me-2">Log In</button>
                        <a href="{% url 'register-user' %}" class="btn btn-outline-secondary">Register</a>
                    </div>
                </form>

            </div>
        </section>
    </div>
{% endblock %}
