{% extends  'index.html' %}
{% load static %}

{% block content %}
    <div class="content-edit">
        <section class="info-section">
            <div class="container">
                <div class="img-container mt-5">
                    {% if object.profile_picture %}
                        <img  class="img-fluid rounded"  style="height: 200px; width: auto" src="{{ object.profile_picture.url }}" alt="user-profile-picture">
                    {% else %}
                        <img  class="img-fluid rounded" src="{% static 'images/default-user.jpg' %}" alt="default-user-picture">
                    {% endif %}

                </div>
            <hr/>
            </div>

            <div class="container">
                <h3>{{ object.get_full_name }}'s Account</h3>

                <section class="profile-info">
                    {% if user.is_authenticated and user.pk == object.pk %}
                        <div class="my-4">
                            <a href="{% url 'edit-profile' %}" class="btn btn-outline-primary me-2">Edit Profile</a>
                            <a href="{% url 'delete-profile' object.pk %}" class="btn btn-outline-danger">Delete
                                Profile</a>
                        </div>
                    {% endif %}
                    <fieldset disabled>
                        <section class="all-fields">
                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">First Name</label>
                                <input type="text" id="disabledTextInput" class="form-control"
                                       placeholder={% if object.first_name %}
                                           {{ object.first_name }}
                                       {% else %}
                                           "No first name yet"
                                       {% endif %}>
                            </div>

                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">Last Name</label>
                                <input type="text" id="disabledTextInput" class="form-control"
                                       placeholder={% if object.last_name %}
                                           {{ object.last_name }}
                                       {% else %}
                                           "No last name yet"
                                       {% endif %}>
                            </div>

                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">Email</label>
                                <input type="text" id="disabledTextInput" class="form-control"
                                       placeholder={{ object.user.email }}>
                            </div>
                        </section>
                    </fieldset>
                </section>

            </div>
        </section>
    </div>
{% endblock %}