{% extends  'index.html' %}
{% load static %}

{% block content %}

 <div class="main-content">
        <div class="login-box">
            <form method="POST" action="{% url 'register-user' %}">
                <h1>Sign Up</h1>

                {% csrf_token %}

                {% for field in form %}
                    <p>
                        {{ field.label }}
                        {{ field }}

                        {{ field.errors }}
                    </p>
                {% endfor %}

                <div class="login-container">
                    <p class="log-in-p">Already have an account?</p>
                    <a href="{% url "login-user" %}">Log In</a>
                </div>

                <div class="sign-in-buttons-cont">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}