{% load static %}
<div class="hero_area">
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="{% url 'home-page' %}">
            <span>
              Star in the kitchen
            </span>
                </a>
                <div class="" id="">
                    {%  if not user.is_authenticated %}
                    <div class="User_option">
                       
                        <div class="" id="">
                            <div class="User_option">
                                <a href="{% url 'login-user' %}">
                                    <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
                                     
                                    <span>Log In</span>
                                </a>

                                <a href="{% url 'register-user' %}">
                                    <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
                                   
                                    <span>Sign Up</span>
                                </a>

                            </div>
                        </div>

                    </div>
                    {% else %}
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <img src="{% static 'images/menu.png' %}" alt="">
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="{% url 'home-page' %}">Home</a>
                            <a href="">My Profile</a>
                            <a href="">My Recipes</a>
                            <a href="{% url 'logout-user' %}">Log Out</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
</div>