{% load static %}
<div class="hero_area">
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
            <span>
              Star in the kitchen
            </span>
                </a>
                <div class="" id="">
                    <div class="User_option">
                        <div class="" id="">
                            <div class="User_option">
                                <a href="">
                                    <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
                                    <span>Log In</span>
                                </a>

                                <a href="">
                                    <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
                                    <span>Sign Up</span>
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <img src="{% static 'images/menu.png' %}" alt="">
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="index.html">Home</a>
                            <a href="about.html">About</a>
                            <a href="blog.html">Blog</a>
                            <a href="testimonial.html">Testimonial</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>