{% load static %}

<section class="slider_section">
    <div class="container ">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="detail-box">
                    <h1>
                        Discover Amazing Recipes
                    </h1>
                    <p>
                        Explore meals by season, diet, method and more - all shared by home chefs like you
                    </p>
                </div>
                <div class="find_container ">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form method="get" action="{% url 'recipe-list' %}">
                                    <div class="form-row">
                                        <div class="form-group col-lg-4">
                                            <input type="text" class="form-control" name="search"
                                                   placeholder="Search by recipe name" value="{{ request.GET.search }}">
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <select class="form-control" name="meal_type" multiple>
                                                <option selected value="">Meal Type</option>
                                                {% for mt in meal_types %}
                                                    <option value="{{ mt.id }}">{{ mt.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <select class="form-control" name="season" multiple>
                                                <option selected value="">Season</option>
                                                {% for s in seasons %}
                                                    <option value="{{ s.id }}">{{ s.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <select class="form-control" name="diet" multiple>
                                                <option selected value="">Diet</option>
                                                {% for d in diets %}
                                                    <option value="{{ d.id }}">{{ d.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <select class="form-control" name="cooking_method" multiple>
                                                <option selected value="">Method</option>
                                                {% for m in methods %}
                                                    <option value="{{ m.id }}">{{ m.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-2 mt-2">
                                            <button type="submit" class="btn btn-warning w-100">Find Recipes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider_container d-flex justify-content-center flex-wrap">
        {% for item in category_images %}
            <div class="d-flex flex-column justify-content-center">
                <a class="mx-auto text-primary" href="{% url "recipe-detail" item.recipe.pk %}" target="_blank">
                    <img src="{{ item.image_url }}" alt="{{ item.category }}"
                         class="mx-auto rounded-circle img-fluid category-circle"
                    />
                </a>
                <p class="text-center">{{ item.category }}</p>
            </div>
        {% endfor %}
    </div>
</section>
