<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Star in the kitchen!</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            font-family: 'Trebuchet MS', sans-serif;
        }

        .text-box .regards p {
            margin: 0;
        }

        span {
            color: rgb(0, 55, 255);
            font-weight: 600;
        }

        span.black {
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <p>Hey <span class="black">{{ full_name }}</span>,</p>

    <p>Welcome to <span>Star in the Kitchen</span> — where food meets creativity!</p>

    <p>I'm <span class="black">Stela Hristova</span>, the creator of this platform, and I’m genuinely excited to have you join our growing community of food lovers and culinary explorers.</p>

    <p>Here, you'll discover inspiring recipes, helpful tips, and a space to share your own kitchen creations. Whether you're a beginner or a seasoned chef, there's something here for everyone.</p>

    <p><span>Thank you</span> for joining — your journey with us starts now, and we can’t wait to see what you’ll cook up!</p>

    <p>Bon appétit and happy cooking!</p>

    <br>

    <div class="regards">
        <p>Warm regards,</p>
        <p><span class="black">Stela Hristova</span></p>
    </div>
</body>
</html>