<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Star in the kitchen!</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            font-family: 'Trebuchet MS', sans-serif;
        }

        .text-box .regards p {
            margin: 0;
        }

        span {
            color: rgb(0, 55, 255);
            font-weight: 600;
        }

        span.black {
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <p>Hey, <span class="black">{{ full_name }}</span>!</p>

    <p>My name is Stela Hristova, and I am the founder of <span>Star in the kitchen</span>.</p>

    <p>I'm thrilled to have you on board as part of a community that is passionate about cooking.</p>

    <p><span>Thank you</span> for joining us!</p>

    <p>Happy cooking!</p>

    <br>

    <div class="regards">
        <p>Best regards,</p>
        <p><span class="black">Stela Hristova</span></p>
    </div>
</body>
</html>